{{- if .Values.grafana.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets
  namespace: {{ .Release.Namespace }}
secrets:
  - name: external-secrets-token
---
apiVersion: v1
kind: Secret
metadata:
  name: external-secrets-token
  namespace: {{ .Release.Namespace }}
  annotations:
    kubernetes.io/service-account.name: external-secrets
type: kubernetes.io/service-account-token
---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault
  namespace: {{ .Release.Namespace }}
spec:
  provider:
    vault:
      server: {{ .Values.externalSecret.vaultServer }}
      path: {{ .Values.externalSecret.vaultPath }}
      version: "v2"
      auth:
        kubernetes:
          mountPath: {{ .Values.externalSecret.vaultMountPath }}
          role: "external-secrets"
          secretRef:
            name: external-secrets-token
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: aoi-grafana-oidc
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: "60s"
  secretStoreRef:
    name: vault
    kind: SecretStore
  target:
    name: aoi-grafana-oidc
  dataFrom:
    - extract:
        key: {{ .Values.externalSecret.vaultDataFromKey }}
{{- end }}
