config:
  # receivers are present to allow for the port number to be used in configuring the deployment
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:55681
  exporters: {}
  extensions:
    health_check:
      port: 13133
    zpages:
      endpoint: localhost:55679
  service:
    extensions: [health_check, zpages]
    pipelines: {}

replicaCount: 1

image:
  repository: otel/opentelemetry-collector
  # repository: otel/opentelemetry-collector-contrib
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

resources:
  limits:
    memory: 2Gi
  requests:
    cpu: 200m
    memory: 400Mi

service:
  type: ClusterIP
  ports:
    grpc:
      port: 4317
      nodePort: 30317

podSecurityContext:
  runAsGroup: 10001
  runAsUser: 10001
  fsGroup: 10001

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
## Priority class assigned to the Pods
priorityClassName: "secure-cloud-stack-technical-operations-critical"
