global:
  podSecurityPolicy:
    annotations: {}
  rbac:
    create: true
    pspEnabled: false
  imagePullSecrets: []

  networkPolicyEnabled: true

nameOverride: ""
fullnameOverride: ""

opentelemetryOperator:
  enabled: true

  podSecurityContext:
    fsGroup: 1
    runAsUser: 65532
    supplementalGroups:
      - 1
  nodeSelector: {}
  tolerations: []
  affinity: {}

  podLabels: {}

  manager:
    image:
      repository: ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator
      pullPolicy: Always
      tag:  # Default is appVersion
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    resources:
      limits:
        cpu: 100m
        memory: 64Mi
      requests:
        cpu: 100m
        memory: 64Mi
    args:
      metricsaddr: 127.0.0.1:8080

  kubeRbacProxy:
    enabled: true
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      pullPolicy: Always
      tag: v0.5.0
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    resources:
      limits:
        cpu: 10m
        memory: 16Mi
      requests:
        cpu: 10m
        memory: 16Mi
    args:
      securelistenaddress: 0.0.0.0:8443
      upstream: http://127.0.0.1:8080/
      logtostderr: true
      v: 10

  controllerManagerMetricsService:
    enabled: true
    port: 8443
    annotations: {}

  webhookService:
    enabled: true
    port: 443
    annotations: {}

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""
