# global options
global:
  networkPolicyEnabled: true
  imagePullSecrets: []

# serviceAccount options
serviceAccount:
  create: true

# prometheusSpec will define the Prometheus instance using the Prometheus Operator CRD
prometheusSpec:
  replicas: 2
  image: quay.io/prometheus/prometheus:v2.50.1
  version: v2.50.1
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  ruleNamespaceSelector: {}
  ruleSelector: {}
  podMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  probeNamespaceSelector: {}
  probeSelector: {}
  resources: {}
  externalLabels: {}
  remoteWrite: []
  alerting: {}
  storage: {}
  retention: 10d
  retentionSize: ""
  routePrefix: /
  secrets: []
  ## Priority class assigned to the Pods
  priorityClassName: "secure-cloud-stack-technical-operations-critical"

ingress:
  enabled: false
