# Default values for prometheus-node-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

##
global:
  rbac:
    create: false
    pspEnabled: false

image:
  # -- Image repository
  repository: quay.io/prometheus/node-exporter
  # -- Image tag - default to version in Chart.yaml
  tag:
  # -- Image pull policy. For security reasons set to "Always"
  pullPolicy: Always

service:
  # -- Service type
  type: ClusterIP
  # -- The service port
  port: 9100
  # -- The target port of the container
  targetPort: 9100
  # -- The node port of the service
  nodePort:
  # -- If true, listen on all interfaces using IP `0.0.0.0`. Else listen on the IP address pod has been assigned by Kubernetes.
  listenOnAllInterfaces: true
  # -- Kubernetes service annotations
  annotations:
    prometheus.io/scrape: "true"

prometheus:
  monitor:
    # -- Set this to `true` to create ServiceMonitor for Prometheus operator
    enabled: false
    # -- Additional labels that can be used so ServiceMonitor will be discovered by Prometheus
    additionalLabels: {}
    # -- namespace where servicemonitor resource should be created
    namespace: ""
    # -- Relabelings that should be applied on the ServerMonitor
    relabelings: []
    # -- Timeout after which the scrape is ended
    scrapeTimeout: 10s

# -- Configure a custom update strategy for the daemonset
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1

# -- CPU/Memory resource requests/limits. It is recommended to adjust the the resources in the concrete context.
resources:
  limits:
    cpu: 300m
    memory: 50Mi
  requests:
    cpu: 10m
    memory: 30Mi
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 200m
  #   memory: 50Mi
  # requests:
  #   cpu: 100m
  #   memory: 30Mi

serviceAccount:
  # -- Specifies whether a ServiceAccount should be created
  create: true
  # -- Service account to be used. If not set and `serviceAccount.create` is `true`, a name is generated using the fullname template
  name:
  # -- Specify image pull secrets
  imagePullSecrets: []

# -- SecurityContext
securityContext:
  fsGroup: 65534
  runAsGroup: 65534
  runAsNonRoot: true
  runAsUser: 65534

# -- SecurityContext for container
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  readOnlyRootFilesystem: true

rbac:
  # -- If true, create & use RBAC resources
  create: true
  # -- Specifies whether a PodSecurityPolicy should be created.
  # https://kubernetes.io/docs/concepts/policy/pod-security-policy/
  pspEnabled: false

# -- list of addresses that have node exporter deployed outside of the cluster
endpoints: []

# -- Whether to expose the service to the host network
hostNetwork: true

# -- If true, node-exporter pods mounts host / at /host/root
hostRootFsMount: true

# -- A group of affinity scheduling rules for pod assignment
affinity: {}
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#         - matchFields:
#             - key: metadata.name
#               operator: In
#               values:
#                 - target-host-name

# -- Annotations to be added to node exporter pods
podAnnotations: {}

# -- Additional labels to be added to pods
podLabels: {}

# -- Node labels for pod assignment
nodeSelector: {}
#   beta.kubernetes.io/arch: amd64
#   beta.kubernetes.io/os: linux

# -- List of node taints to tolerate
tolerations:
  - effect: NoSchedule
    operator: Exists

# -- Name of Priority Class to assign pods
priorityClassName:

# -- Additional container arguments
extraArgs: []
#   - --collector.diskstats.ignored-devices=^(ram|loop|fd|(h|s|v)d[a-z]|nvme\\d+n\\d+p)\\d+$
#   - --collector.textfile.directory=/run/prometheus

# -- Additional mounts from the host
extraHostVolumeMounts: []
#  - name: <mountName>
#    hostPath: <hostPath>
#    mountPath: <mountPath>
#    readOnly: true|false
#    mountPropagation: None|HostToContainer|Bidirectional

# -- Allow mounting additional configmaps.
configmaps: []
# - name: <configMapName>
#   mountPath: <mountPath>

# -- Override the deployment namespace
# @default will be set to `.Release.Namespace` if not set
namespaceOverride: ""

# -- Additional containers for export metrics to text file
sidecars: []
##  - name: nvidia-dcgm-exporter
##    image: nvidia/dcgm-exporter:1.4.3

# -- Volume for sidecar containers
sidecarVolumeMount: []
##  - name: collector-textfiles
##    mountPath: /run/prometheus
##    readOnly: false
