apiVersion: v2
name: oaas-observability
type: application
description: A Helm chart to deploy obeservability stack on Kubernetes
home: https://github.com/neticdk/k8s-oaas-observability
sources:
  - https://github.com/neticdk/k8s-oaas-observability
version: "1.1.9"
maintainers:
  - name: langecode
    email: tal@netic.dk
dependencies:
  - name: grafana
    version: 6.7.3
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
  - name: cert-manager
    version: v1.3.1
    repository: https://charts.jetstack.io
    condition: cert-manager.enabled
  - name: kube-state-metrics
    version: "*"
    repository: file://../kube-state-metrics
  - name: prometheus-node-exporter
    version: "*"
    repository: file://../prometheus-node-exporter
  - name: prometheus-operator
    version: "*"
    repository: file://../prometheus-operator
    condition: prometheus-operator.enabled
  - name: opentelemetry-operator
    version: "*"
    repository: file://../opentelemetry-operator
    condition: opentelemetry-operator.enabled
  - name: vector-agent
    version: 0.12.2
    repository: https://packages.timber.io/helm/latest
