apiVersion: v2
name: oaas-observability
type: application
description: A Helm chart to deploy obeservability stack on Kubernetes
home: https://github.com/neticdk/k8s-oaas-observability
sources:
  - https://github.com/neticdk/k8s-oaas-observability
version: "2.0.31"
maintainers:
  - name: langecode
    email: tal@netic.dk
  - name: KimNorgaard
    email: kn@netic.dk
dependencies:
  - name: grafana
    version: 6.20.5
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
  - name: kube-state-metrics
    version: 4.1.1
    repository: https://prometheus-community.github.io/helm-charts
  - name: prometheus-node-exporter
    version: "*"
    repository: file://../prometheus-node-exporter
    condition: nodeExporter.enabled
  - name: prometheus-operator
    version: "*"
    repository: file://../prometheus-operator
    condition: prometheus-operator.enabled
  - name: otel-operator
    version: "*"
    repository: file://../otel-operator
    condition: otel-operator.enabled
  - name: vector-agent
    version: 0.19.1
    repository: https://helm.vector.dev
    condition: vector-agent.enabled
  - name: promtail
    version: 3.10.0
    repository: https://grafana.github.io/helm-charts
    condition: promtail.enabled
