{{- if ne .Values.global.presets.remoteWriteOnly true}}
{{- if .Values.alerting.enabled }}
{{- range $i, $namespace := (include "aoi.alerting.namespaces" . | fromJsonArray) }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vmalert-alertmanager-egress
  namespace: {{ $namespace }}
spec:
  podSelector:
    matchLabels:
      app: alertmanager
      app.kubernetes.io/instance: victoria-metrics-alert
      app.kubernetes.io/name: victoria-metrics-alert
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 443
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vmalert-alertmanager-ingress
  namespace: {{ $namespace }}
spec:
  podSelector:
    matchLabels:
      app: alertmanager
      app.kubernetes.io/instance: victoria-metrics-alert
      app.kubernetes.io/name: victoria-metrics-alert
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: server
              app.kubernetes.io/instance: victoria-metrics-alert
              app.kubernetes.io/name: victoria-metrics-alert
      ports:
        - port: web
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vmalert-server-egress
  namespace: {{ $namespace }}
spec:
  podSelector:
    matchLabels:
      app: server
      app.kubernetes.io/instance: victoria-metrics-alert
      app.kubernetes.io/name: victoria-metrics-alert
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 6443
          protocol: TCP
    - ports:
        - port: 443
          protocol: TCP
    - to:
        - podSelector:
            matchLabels:
              app: alertmanager
              app.kubernetes.io/instance: victoria-metrics-alert
              app.kubernetes.io/name: victoria-metrics-alert
      ports:
        - port: web
          protocol: TCP
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ $.Release.Namespace }}
          podSelector:
            matchLabels:
              app: server
              app.kubernetes.io/name: {{ include "aoi.vmLableName" $ }}
      ports:
        - port: http
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vmalert-server-ingress
  namespace: {{ $namespace }}
spec:
  podSelector:
    matchLabels:
      app: server
      app.kubernetes.io/instance: victoria-metrics-alert
      app.kubernetes.io/name: victoria-metrics-alert
  policyTypes:
    - Ingress
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: vmalert-prometheus-scrape-ingress
  namespace: {{ $namespace }}
spec:
  ingress:
  - from:
    - namespaceSelector: {}
      podSelector:
        matchLabels:
          app.kubernetes.io/name: prometheus
    ports:
    - port: metrics
      protocol: TCP
    - port: http
      protocol: TCP
  podSelector:
    matchLabels:
      netic.dk/allow-prometheus-scraping: "true"
  policyTypes:
  - Ingress
{{- end }}
{{- end }}
{{- end }}
