{{- if ne .Values.global.presets.remoteWriteOnly true}}
{{- if .Values.alerting.enabled }}
{{- range $i, $namespace := (include "aoi.alerting.namespaces" . | fromJsonArray) }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: victoria-metrics-alert-config-reloader
  namespace: {{ $namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: config-reloader-role
  namespace: {{ $namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - watch
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: config-reloader-rolebinding
  namespace: {{ $namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: config-reloader-role
subjects:
  - kind: ServiceAccount
    name: victoria-metrics-alert-config-reloader
    namespace: {{ $namespace }}
{{- end }}
{{- end }}
{{- end }}

