name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  endpoint-controller-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Cache Bazel
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'MODULE.bazel') }}
          restore-keys: ${{ runner.os }}-bazel-
      - name: Test Endpoint Controller
        run: |
          cd controllers/endpoint-controller
          bazel test //...

  charts-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: "1.26.0"

      - name: Install extra tooling
        run: |
          go install github.com/google/go-jsonnet/cmd/jsonnet@latest
          go install github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@latest
          go install github.com/norwoodj/helm-docs/cmd/helm-docs@v1.14.2

      - name: Render jsonnet rules for Netic OaaS chart
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          $GITHUB_WORKSPACE/charts/oaas-observability/scripts/update-rules.sh

      - name: Render documentation
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          helm-docs
          git update-index -q --ignore-submodules --refresh
          if ! git diff-files --quiet --ignore-submodules -- ; then
            echo Generating documentation caused a change - did you forget to run 'helm-docs' before commit?
            exit 1
          fi

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.15.3

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.14

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2
        with:
          yamale_version: "6.0.0"

      - name: Setup polaris
        uses: fairwindsops/polaris/.github/actions/setup-polaris@master
        with:
          version: 10.1.1

      - name: Run chart-testing (lint)
        run: |
          export PATH=$GITHUB_WORKSPACE/polaris:$PATH
          ct lint --config ct.yaml

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main --excluded-charts aoi)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Create kind cluster
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc # v1
        if: steps.list-changed.outputs.changed == 'true'

      - name: Install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.6.1 --set installCRDs=true
        if: steps.list-changed.outputs.changed == 'true'

      - name: Install priority class
        run: |
          cat <<EOF | kubectl apply -f -
          apiVersion: scheduling.k8s.io/v1
          kind: PriorityClass
          metadata:
            name: secure-cloud-stack-technical-operations-critical
          value: 500000000
          preemptionPolicy: "PreemptLowerPriority"
          globalDefault: false
          description: "Secure Cloud Stack Technical Operations Critical Units"
          EOF
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml --excluded-charts aoi
