name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  endpoint-controller-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          cd controllers/endpoint-controller
          bazel test --define version=dummy //...

  charts-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install extra tooling
        run: |
          go get github.com/google/go-jsonnet/cmd/jsonnet
          go get github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb
          GO111MODULE=on go get github.com/norwoodj/helm-docs/cmd/helm-docs

      - name: Render jsonnet rules for Netic OaaS chart
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          $GITHUB_WORKSPACE/charts/oaas-observability/scripts/update-rules.sh

      - name: Render documentation
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          helm-docs
          git update-index -q --ignore-submodules --refresh
          if ! git diff-files --quiet --ignore-submodules -- ; then
            echo Generating documentation caused a change - did you forget to run 'helm-docs' before commit?
            exit 1
          fi

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.3

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Create kind cluster
        uses: helm/kind-action@v1.1.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Install cert-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.3.1 --set installCRDs=true

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml
