name: release

on:
  push:
    tags:
      - v*

jobs:
  push_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Retrieve version
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push container image to GitHub Container Registry
        run: |
          cd controllers/endpoint-controller
          bazel run --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 --define version=${{ steps.vars.outputs.tag }} //cmd/controller:publish
